.container {
    display: flex;
}

.main-video {
    margin-right: 20px;
}

.related-videos {
    margin-bottom: 20px;
}

.related-video {
    margin-bottom: 20px;
}

.iframe-wrapper iframe {
    pointer-events: none;
}